body {
 background-image: url(sports-wallpapers-android.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    max-width: 100%;
    height: auto;
}

#navLogo {
    width: 150px;
    margin: 4%;
}

@font-face {
  font-family: Agency;
   src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/agency-fb-bold.woff);
}
body { 
  font-family: Avenir, sans-serif;
  marging: 0;
}

#marquee { 
  margin-top: 3rem;
	perspective: 500px;
	font-size: 0;
	font-family: Agency, sans-serif;
}
#marquee div {
	display: inline-block; 
	height: 5rem; 
	width: 30rem;
	position: relative;
}

#marquee div:first-of-type { 
	background: #e5233e;
	transform-origin: top right;
	transform: rotateY(-40deg);
	color: #fff;
}
#marquee div:last-of-type {
	background: #b31e31;
	transform-origin: top left;
	transform: rotateY(45deg);
	color: #f8c9d9;
}
#marquee div { 
    font-size: 4rem;
    overflow: hidden;
}
#marquee div span { 
    position: absolute; 
    width: 400%;    
    line-height: 1.4;
}
#marquee div:first-of-type span {
    transform: translateX(40rem);
    animation: leftcrawl 14s linear infinite;
    text-shadow: 4px 0px 4px rgba(0,0,0,0.3);
}
#marquee div:last-of-type span {
    transform: translateX(20rem);
    animation: rightcrawl 14s linear infinite;
}

@keyframes leftcrawl {
	to { transform: translateX(-100rem); }
}
@keyframes rightcrawl {
	to { transform: translateX(-130rem); }
}


body {
  margin: 0;
  padding: 0;
  background: url(sports-wallpapers-android.jpg);
  background-size: cover;
  font-family: sans-serif;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
}

.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #03a9f4;
  font-size: 0.75rem;
}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #03a9f4;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
}

.box input[type="submit"]:hover {
  background-color: #1cb1f5;
}


.hidden {
    display:none;
}

.btn btn-warning btn-lg round {
    margin-right: 5px;
}

.my-buttons {
    width: 90vw;
}

.my-button{
    border-radius: 30px;
}

@font-face {
  font-family: bebas;
  src: url(../fonts/bebas.TTF);
}

html {
  background: #000;
}

.contenedorEquipo {
  margin: 10px 0px 15px 0px;
}

.base {
  //width: 75%;
  width: 90%;
  margin: 0px auto;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 50px;
  background: rgba(0, 0, 0, 1);
  overflow: hidden;
  border: 5px solid white;
  font-family: bebas, Verdana, Geneva, sans-serif;
  color: white;
}

.panel {
  width: 100%;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  /* display: block; */
  /* float: left; */
  position: relative;
  top: 0px;
  height: 75px;
}

.equipo-superior {
  width: 50%;
  float: left;
  color: white;
  height: 100%;
  overflow: hidden;
}

.equipo-superior img {
  //max-width: 13vw;
  width: 100px;
  margin: 0px 20px;
}

    .float-izquierda{
        float: left !important;
    }
    .float-derecha{
        float: right !important;
    }

.panel-superior .izquierdo {
  background: linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(255, 146, 10, 0) 100%);
}

.panel-superior .izquierdo span {
  float: left;
}

.panel-superior .derecho span {
  float: right;
}

.panel-superior .derecho {
  background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 1) 53%, rgba(30, 87, 153, 1) 100%);
}

.estadisticas p {
  height: 0px;
  font-size: 25px;
  margin-top: 5px;
}

.marcadores {
  width: 100%;
  position: relative;
  height: 60px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
}

.marcadores .derecho {
  background: rgba(30, 87, 153, 1);
  box-shadow: 0px 0px 0px 3px #000 inset, 0px 0px 25px 0px #000 inset;
  border-radius: 0px 10px 10px 0px;
}

.marcadores .izquierdo {
  background: rgb(179, 121, 48);
  box-shadow: 0px 0px 0px 3px #000 inset, 0px 0px 25px 0px #000 inset;
  border-radius: 10px 0px 0px 10px;
}

.marcadores div {
  float: left;
  height: 100%;
  line-height: 35px;
  text-align: center;
}

.marcadores div p {
  margin: 10px 0px 0px 5px;
  width: 60%;
  font-size: 24px;
}

.equipo-marcador {
  width: 33%;
}

.marcador-tiempo {
  width: 34%;
  font-size: 26px;
  //padding: 20px
  line-height: 50px !important;
}

.marcador-tiempo time {
  line-height: 50px;
}

.marcador-goles {
  background: white;
  width: 25%;
  height: 40px !important;
  margin: 10px 5px;
  box-shadow: 0px 0px 0px 1px black;
  color: #000;
  line-height: 36px !important;
  text-align: center;
  font-size: 24px;
  /*margin-left: 33px;*/
}

.equipo-inferor {
  width: 33%;
  /* line-height: 38px; */
  /* vertical-align: middle; */
  text-align: center;
}

.inferior-boton {
  width: 34%;
}

.imagen-estrella {
  width: 30px;
  margin: 20px 0px 0px 1px;
}

.inferior-boton {
  text-align: center;
}

.inferior-boton button {
  background-color: #e8065b;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 5px 50px;
  box-shadow: 0px 0px 10px 2px black inset;
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
  font-size: 20px;
  transition: all 0.5s ease-out;
}

.inferior-boton button:hover {
  background-color: #e8065b;
  box-shadow: 0px 0px 3px 1px black inset;
}

.inferior-boton button:active {
  background-color: #e8065b;
  box-shadow: 0px 0px 0px 0px black inset;
}

.estadisticas {
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .base {
    //width: 75%;
    width: 90%;
    margin: 0px auto;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 50px;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
    border: 5px solid white;
    font-family: bebas, Verdana, Geneva, sans-serif;
    color: white;
  }
  .panel {
    width: 100%;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    /* display: block; */
    /* float: left; */
    position: relative;
    top: 0px;
    height: 50px;
  }
  .equipo-superior {
    width: 50%;
    float: left;
    color: white;
    height: 100%;
    overflow: hidden;
  }
  .equipo-superior img {
    //max-width: 13vw;
    width: 60px;
    margin: 0px 10px;
  }
    .float-izquierda{
        float: left !important;
    }
    .float-derecha{
        float: right !important;
    }
  .panel-superior .izquierdo {
    background: linear-gradient(to right, rgba(255, 175, 75, 1) 0%, rgba(255, 146, 10, 0) 100%);
  }
  .panel-superior .izquierdo span {
    float: left;
  }
  .panel-superior .derecho span {
    float: right;
  }
  .panel-superior .derecho {
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 1) 53%, rgba(30, 87, 153, 1) 100%);
  }
  .estadisticas p {
    height: 0px;
    font-size: 12px;
  }
  .marcadores {
    width: 100%;
    position: relative;
    height: 40px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
  }
  .marcadores .derecho {
    background: rgba(30, 87, 153, 1);
    box-shadow: 0px 0px 0px 3px #000 inset, 0px 0px 25px 0px #000 inset;
    border-radius: 0px 10px 10px 0px;
  }
  .marcadores .izquierdo {
    background: rgb(179, 121, 48);
    box-shadow: 0px 0px 0px 3px #000 inset, 0px 0px 25px 0px #000 inset;
    border-radius: 10px 0px 0px 10px;
  }
  .marcadores div {
    float: left;
    height: 100%;
    line-height: 35px;
    text-align: center;
  }
  .marcadores div p {
    margin: 0px 0px 0px 5px;
    //float: left;
    width: 60%;
    font-size: 10px;
  }
  .equipo-marcador {
    width: 33%;
  }
  .marcador-tiempo {
    width: 34%;
    font-size: 16px;
    line-height: 35px !important;
  }
  .marcador-tiempo time {
    line-height: 35px !important;
  }
  .marcador-goles {
    background: white;
    width: 25%;
    height: 25px !important;
    margin: 7px 5px;
    box-shadow: 0px 0px 0px 1px black;
    color: #000;
    line-height: 22px !important;
    text-align: center;
    font-size: 16px;
  }
  .equipo-inferor {
    width: 33%;
    /* line-height: 38px; */
    /* vertical-align: middle; */
    text-align: center;
  }
  .inferior-boton {
    width: 34%;
  }
  .imagen-estrella {
    width: 16px;
    margin: 15px 0px 0px 1px;
  }
  .inferior-boton {
    text-align: center;
  }
  .inferior-boton button {
    background-color: #e8065b;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 2px 20px;
    box-shadow: 0px 0px 10px 2px black inset;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    transition: all 0.5s ease-out;
    font-size: 16px;
  }
  .inferior-boton button:hover {
    background-color: #e8065b;
    box-shadow: 0px 0px 3px 1px black inset;
  }
  .inferior-boton button:active {
    background-color: #e8065b;
    box-shadow: 0px 0px 0px 0px black inset;
  }
  .estadisticas {
    text-align: center;
  }
}

*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}



ul.main { 
  list-style: none;
  max-width: 75%;
  margin: 20px auto;
}
h3 {padding: 0; margin: 0;}


.date {
  width: 17%;
  padding: 15% 1% 0 0 ;
  float: left;
}

.date h3 {
  font-size: 1.5em;
}

.date p {
  font-size: .8em;
}

.events {
  float: left;
  width: 80%;
  border-left: 1px solid #ccc;
  margin-top: 10%;
  padding-top: 3%;
}

.events-detail {
  max-width: 550px;
}

.events-detail li{
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  line-height: 22px;
  transition: ease .4s all;
}

.events-detail li:hover {
  background: #e9e9e9;
}

.event-time {
  font-weight: 900;
}

.events-detail li a {
  text-decoration: none;
  color: #444;
  width: 100%;
  height: 100%;
  display: block;
}

.event-location {
    font-size: .8em;
    color: tomato;
    margin-left: 70px;
}



@media all and (max-width: 641px) {
    .date {
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }
  
  .events {
    border:none;
    width: 100%;
    margin-top: 0;
  }
  
  .events-detail {
    padding: 0;
  }
  
  li.date p {
    margin:0;
  }
}
